body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  max-width: 80%;
}
li {
  display: inline-flex;
}
h6 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}
button {
  background: #a0c2e5;
  color: #e2cee4;
  border-radius: 20px;
  padding: 5px 5px;
  margin-left: 300px;
  border: 1px solid;
}
button:hover {
  background: #e2cee4;
  color: #84c0fe;
  cursor: pointer;
  transition: all 299ms ease-in-out;
}
.city-form {
  margin-left: 50px;
  padding-top: 5px;
}

.row {
  margin-top: 35px;
  margin-left: 0px;
}

.card {
  color: #84c0fe;
  border: #e2cee4;
  border-radius: 10%;
}
.card-body {
  padding: 2rem;
}
.fa-star-half-stroke {
  color: #ded7eb;
}
.fa-sun {
  color: rgb(249, 249, 111);
}

p.weather-now {
  margin: 0px;
}
.weather-now {
  font-family: "Old Standard TT", serif;
}
.list-group-item {
  font-family: "Old Standard TT", serif;
}
.city-form {
  font-family: "Old Standard TT", serif;
}
.code {
  display: block;
  margin-top: 16px;
  color: hsl(210, 98%, 76%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#temperature {
  font-size: 25px;
}

#icon {
  margin-right: -10px;
  width: 60px;
}
.weather-forecast-date {
  font-size: 30px;
  padding-top: -10px;
}

#card-forecast {
  margin: 18px;
  text-align: center;
}
#icons {
  width: 45px;
}
.code {
  padding: 50px 20px;
}
