body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  max-width: 75%;
}
li {
  display: inline-flex;
}
h6 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}
button {
  background: #84c0fe;
  color: #cde1f1;
  border-radius: 20px;
  padding: 5px 5px;
  margin-left: 300px;
  border: 1px solid;
}
button:hover {
  background: #cde1f1;
  color: #84c0fe;
  cursor: pointer;
  transition: all 299ms ease-in-out;
}
.city-form {
  margin-left: 50px;
  padding-top: 5px;
}
.hourly {
  margin-right: 10px;
}
.five-days {
  margin-right: 10px;
}
.today {
  margin-right: 10px;
}

.kai-shi {
  margin-left: 120px;
}
.row {
  margin-top: 35px;
}

.card {
  color: #84c0fe;
  border: #42a5f5;
  border-radius: 10%;
}
.fa-star-half-stroke {
  color: #ded7eb;
}
.fa-sun {
  color: rgb(249, 249, 111);
}
.today:hover {
  color: aqua;
  cursor: pointer;
}
.five-days:hover {
  color: aqua;
  cursor: pointer;
}
.two-weeks:hover {
  color: aqua;
  cursor: pointer;
}
.weather-now {
  font-family: "Old Standard TT", serif;
}
.list-group-item {
  font-family: "Old Standard TT", serif;
}
.city-form {
  font-family: "Old Standard TT", serif;
}
.code {
  display: block;
  margin-left: 900px;
  color: #84c0fe;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
